<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Administration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Import the TaskCentral core library -->
    <script src="client/libs/external/jquery-3.6.0.min.js"></script>
    <script src="client/libs/commons.js"></script>

    <script src="client/libs/data.js"></script>
    <script src="client/libs/task.js"></script>
    <script src="client/libs/project.js"></script>
    <script src="client/libs/competitive.js"></script>

    <script src="client/libs/fuzzy.js"></script>
    <script src="client/libs/query.js"></script>

    <!-- Import admin page stuff -->

    <link rel="stylesheet" href="libs/sortable.min.css">
    <script src="libs/sortable.min.js"></script>

    <script src="libs/commons.js"></script>
  </head>
  <body>
    <div class="live-userlist">
      <h1>Live Userlist</h1>
      <button onclick="admin_userlist_start()">Start tracking</button>
      <label for="freqSlider">Update every x seconds: </label>
      <input type="number" id="freqSlider" min="1" max="60" value="5">
      <label for="volumeSlider">Volume: </label>
      <input type="range" id="volumeSlider" min="1" max="100" value="80">
      <br>
      <input type="text" id="includeUsersRegex" placeholder="username inclusion wildcards, separated by comma">
      <input type="text" id="excludeUsersRegex" placeholder="username exclusion wildcards, separated by comma" value="sit%">
      <pre class="status"></pre>
      <table class="sortable">
        <thead>
          <tr>
            <th>User</th>
            <th>Last Visit</th>
            <th>Last Write</th>
            <th>Started</th>
            <th>S.G.</th>
            <th>Elo</th>
            <th>Storage</th>
            <th>%</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>

    <script src="libs/live-userlist.js"></script>
  </body>
</html>

