<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TaskCentral</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="maximum-scale=1, user-scalable=no, minimal-ui, width=device-width, initial-scale=1">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#8F7034">
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#8F7034">

    <link href="libs/external/normalize.css" rel="stylesheet">

    <link href="libs/external/autoComplete.02.min.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/icon?family=Roboto:200,300,400,600,700,900" rel="stylesheet">
    <link rel="icon" type="image/png" href="/assets/android-chrome-192x192.png" sizes="192x192">

    <style>
      :root {
        --app-primary-color: #8F7034;
      }
    </style>

    <!-- the only essential css not to lazy load -->
    <link rel="stylesheet" href="libs/ui/splash.css" />

    <script>
      window.onerror = function(message, source, lineno, colno, error) {
        const errorMessage = [
          "Oops! A hiccup occurred.",
          `Message: ${message}`,
          `Source: ${source}`,
          `Line: ${lineno}`,
          `Column: ${colno}`,
          `Error object: ${JSON.stringify(error, undefined, 2)}`
        ].join('\n');

        alert(errorMessage);
      };


    </script>

  </head>
  <body>
    <div id="splash">
      <h1>T</h1>
      <span id="splash-status"></span>
    </div>

    <div class="top-bar" oncontextmenu="return false;">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="#" data-menu="home" class="pure-menu-link">Home</a>
          </li>
          <li class="pure-menu-item">
            <a href="#" data-menu="gantt" class="pure-menu-link">Gantt</a>
          </li>
          <li class="pure-menu-item">
            <a href="#" data-menu="log" class="pure-menu-link">Log</a>
          </li>
          <li class="pure-menu-item">
            <a href="#" data-menu="metrics" class="pure-menu-link">Metrics</a>
          </li>
          <li class="pure-menu-item">
            <a href="#" data-menu="forecast" class="pure-menu-link">Forecast</a>
          </li>
          <li class="pure-menu-item">
            <a href="#" data-menu="settings" class="pure-menu-link">User</a>
          </li>
          <li class="pure-menu-item">
            <a href="#" data-menu="import" class="pure-menu-link">Import</a>
          </li>
          <li class="pure-menu-item">
            <a href="#" data-menu="cookbook" class="pure-menu-link">Cookbook</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="content-container">
      <div class="home">
        <div class="task-container">
          <div class="actions pad">
            <button class="pure-button" id="home-mode-button"
              style="text-transform: capitalize;"
              onclick="ui_home_mode_select()">
              default
            </button>
            <button class="pure-button"
              onclick="ui_home_mode_select_trigger('ready', HOME_READY_QUERY, true)">
              Reset
            </button>
            <button class="pure-button" onclick="ui_filter_open(HOME_QUERY, ui_home_update_list)">
              Filter <i class="fa fa-filter"></i>
            </button>
            <span class="proMode-hide filter-save-tip">
              <i class="fa fa-arrow-left"></i>
              Save commonly used filters here
            </span>
            <div class="filters-holder"></div>
          </div>
          <form id="add-form" autocomplete="off" onsubmit="ui_home_add_trigger(); return false;">
            <input type="submit" hidden />
            <div class="input-row">
              <i class="fa fa-plus"></i>
              <div class="input-wrapper">
                <input type="text" name="name" placeholder="Add task...">
              </div>

              <input type="hidden" name="project" onchange="ui_home_add_project_changed(this);ui_home_add_input_focus()">
              <div class="project"></div>
              <div class="tags"></div>

              <div class="datepicker">
                <i class="fa fa-calendar-alt"></i>
                <input type="date" name="due" onchange="ui_home_add_date_changed(this);ui_home_focus_input();">
              </div>
              <div class="date-due" style="display: none;" onclick="ui_home_remove_due_date();ui_home_focus_input();">
                Tomorrow
              </div>
            </div>
            <div class="detail-row">
              <sub-title>
                PROJECT
                <i class="fa-solid fa-pen-to-square edit-projects-btn" onclick="ui_home_add_project_edit()"></i>
                <i class="fa-solid fa-xmark edit-projects-btn" onclick="ui_home_add_project_cancel_edit()"></i>
              </sub-title>
              <div class="projects"></div>
              <sub-title>PRIORITY</sub-title>
              <div class="progress-num-input" name="priority">
                <input type="range" min="0" max="100" step="1" name="priority">
                <div class="pure-button">
                  <i class="far fa-keyboard"></i>
                </div>
              </div>
              <sub-title>WEIGHT</sub-title>
              <div class="progress-num-input" name="weight">
                <input type="range" min="0" max="100" step="1" name="weight">
                <div class="pure-button">
                  <i class="far fa-keyboard"></i>
                </div>
              </div>
              <div class="pure-form pure-form-stacked">
                <fieldset>
                  <div class="pure-g">
                    <div class="pure-u-1 pure-u-md-1-2">
                      <sub-title for="add-form-earliest">Earliest</sub-title>
                      <input type="date" id="add-form-earliest" class="pure-u-23-24" />
                    </div>
                    <div class="pure-u-1 pure-u-md-1-2">
                      <sub-title for="add-form-until">Until</sub-title>
                      <input type="date" id="add-form-until" class="pure-u-23-24" />
                    </div>
                  </div>
                </fieldset>
              </div>
              <sub-title data-tooltip="Recurring tasks are accomplished through recurrence of recurring task instances from a recurring task template. By creating this template and specifying a recurrence interval, new instances will be cloned based on this template. The Earliest, Due, and Until dates will be moved one recurring interval from the previous instance. The Recurrence Limit denotes how many future instances must be maintained at any given time. Note that you never interact with a recurring task template, and can only find it in the Recur view mode or by adjusting the filter. ">RECURRENCE</sub-title>
              <label for="add-form-recurrence" class="pure-checkbox recur">
                <input type="checkbox" id="add-form-recurrence" onchange="$('.recur-form').toggle(this.checked)">
                This task is a recurring template.
              </label>
              <div class="pure-form recur-form pure-form-stacked" style="display: none">
                <fieldset>
                  <legend>Every:</legend>
                  <div class="pure-g recur-intervals">
                    <!-- we want to allow floating points here -->
                    <div class="pure-u-1 pure-u-md-1-3">
                      <label for="add-form-recur-months">Months</label>
                      <input type="number" id="add-form-recur-months" class="pure-u-23-24"
                        min="0" max="1024" required step=".0001" value="0"/>
                    </div>
                    <div class="pure-u-1 pure-u-md-1-3">
                      <label for="add-form-recur-weeks">Weeks</label>
                      <input type="number" id="add-form-recur-weeks" class="pure-u-23-24"
                        min="0" max="1024" required step=".0001" value="0"/>
                    </div>
                    <div class="pure-u-1 pure-u-md-1-3">
                      <label for="add-form-recur-days">Days</label>
                      <input type="number" id="add-form-recur-days" class="pure-u-23-24"
                        min="0" max="1024" required step=".0001" value="0"/>
                    </div>
                  </div>
                </fieldset>
                <fieldset>
                  <legend> </legend>
                  <div class="pure-g recur-intervals">
                    <div class="pure-u-1 pure-u-md-1-2">
                      <label for="add-form-recur-limit" data-tooltip="Maximum number of recurring task instances to be maintained at any given time.">Recurrence Limit</label>
                      <input type="number" id="add-form-recur-limit" class="pure-u-23-24"
                        value="3" min="0" max="1024" step="0" required />
                    </div>
                    <div class="pure-u-1">
                      <span class="pure-form-message-inline proMode-hide">
                        Set this to zero if you don't want the system to
                        immediately start creating instances.
                      </span>
                    </div>
                  </div>
                </fieldset>
              </div>
              <!-- TODO: stub -->
              <!-- <sub-title>TAGS</sub-title> -->
            </div>
          </form>
          <div class="task-list">

          </div>
        </div>
        <div class="task-detail">
          <form onsubmit="return false;" oncontextmenu="return false;">
            <header>
              <!-- The ones that don't close shouldn't have # (used for pop state). -->
              <button type="button" class="pure-button snooze left recur-hide" onclick="ui_detail_snooze_tomorrow()">
                Snooze until tomorrow
                <i class="fa fa-clock"></i>
              </button>
              <button type="button" class="pure-button snooze left datepicker recur-hide">
                Snooze
                <input type="datetime-local" id="snooze-datetime">
                <i class="fa fa-calendar-alt"></i>
              </button>
              <button type="button" class="pure-button unsnooze left recur-hide" onclick="ui_detail_unsnooze()">
                Unsnooze
                <i class="fa fa-bell"></i>
              </button>
              <div></div>
              <a class="pure-button" href="#" onclick="ui_detail_close()">
                <i class="fa fa-check"></i>
              </a>
            </header>
            <form-body class="pure-form pure-form-aligned">
              <div class="pure-control-group">
                <label>Name</label>
                <input type="text" name="name">
              </div>
              <div class="pure-control-group">
                <label style="vertical-align: top">Project</label>
                <input type="hidden" name="project" onchange="ui_home_detail_project_changed(this)">
                <div class="project-container">
                  <div class="project"></div>
                  <div class="projects"></div>
                </div>
              </div>
              <div class="pure-control-group">
                <label data-tooltip="Priority is the relative importance of the task - ie. the penalty for missing the deadline.">
                  Priority
                </label>
                <div class="progress-num-input" name="priority">
                  <input type="range" min="0" max="100" step="1" name="priority">
                  <div class="pure-button">
                    <i class="far fa-keyboard"></i>
                  </div>
                </div>
              </div>
              <div class="pure-control-group">
                <label data-tooltip="Weight is the relative volume of work expected on the task.">
                  Weight
                </label>
                <div class="progress-num-input" name="weight">
                  <input type="range" min="0" max="100" step="1" name="weight">
                  <div class="pure-button">
                    <i class="far fa-keyboard"></i>
                  </div>
                </div>
              </div>
              <div class="pure-control-group" style="margin-bottom: 0;">
                <label data-tooltip="Update this slider to tell the system how much work is left at the current instant. Use the 'Set Maximum Steps' feature to adjust the total number of steps for your progress. When a task is marked as 'Complete', the progress at the instant of completion is assumed to be 100%.">
                  Progress
                </label>
                <div class="progress-num-input" name="progress">
                  <input type="range" min="0" max="100" step="1" name="progress">
                  <div class="pure-button">
                    <i class="far fa-keyboard"></i>
                  </div>
                </div>
              </div>
              <div class="pure-control-group">
                <a class="pure-form-message-inline right" href=""
                  onclick="$('.task-detail .change-step-size').slideToggle(200, 'swing'); return false;">
                  Set Maximum Steps
                </a>
              </div>
              <div class="pure-control-group progress-value-indicator">
                <label></label>
                <input type="text" disabled readonly name="progress-value-indicator">
              </div>
              <div class="pure-control-group change-step-size">
                <label></label>
                <input type="number" min="1" step="1" name="steps" max="100"
                  oninput="validity.valid||(value='');"/>
              </div>
              <div class="pure-control-group">
                <label data-tooltip="Latest possible due date without penalty.">
                  Due
                </label>
                <input type="date" name="due">
              </div>
              <div class="pure-control-group">
                <label data-tooltip="Theoretically earliest possible date that a task may be started. If left empty, this value is internally assumed to be the task creation time. If task has dependencies, earliest date cannot be manually changed.">
                  Earliest
                </label>
                <input type="date" name="earliest">
              </div>
              <div class="pure-control-group">
                <label data-tooltip="Date after which the task is no longer relevant. Use this rather than due date if a task is not expected to be completed before the until date (eg., an exam preparation).">
                  Until
                </label>
                <input type="date" name="until">
              </div>
              <div class="pure-control-group split">
                <label data-tooltip="Hidden tasks can only be viewed through the Hidden view or by changing the Filter.">Visibility</label>
                <label for="home-details-hidden-checkbox" class="pure-checkbox"
                  style="text-align: left;">
                  <input type="checkbox" name="hidden" id="home-details-hidden-checkbox"> Hidden
                </label>
              </div>
              <div class="pure-control-group split">
                <label data-tooltip="Unconditionally adds +5000 importance.">Pinning</label>
                <label for="home-details-pinned-checkbox" class="pure-checkbox"
                  style="text-align: left;">
                  <input type="checkbox" name="pinned" id="home-details-pinned-checkbox"> Pinned
                </label>
              </div>
              <div class="pure-control-group dependsOn-autocomplete-con recur-hide">
                <label data-tooltip="When a task depends on others, the system auto-sets the Earliest date such that the task only becomes available when all dependencies have been completed.">Requires</label>
                <input type="text" name="dependsOn" id="dependsOnAutoComplete"
                  autocomplete="off" aria-autocomplete="none">
              </div>
              <div class="pure-control-group dependsOn-list-con recur-hide">
                <label></label>
                <div class="dependsOn-list"></div>
              </div>
              <div class="pure-control-group dependedBy-list-con recur-hide">
                <label
                data-tooltip="When a task is depended by others, the system auto-sets the Earliest date of the dependents such that they only become available when all dependencies have been completed.">Blocks</label>
                <div class="dependedBy-list"></div>
              </div>
              <div class="pure-control-group recur-hide">
                <label>Time</label>
                <div>
                  <div style="display: flex">
                    <input type="text" readonly name="total" style="flex-grow: 1">
                    <input class="pure-button" name="recalc" type="button" value="Recalc"
                      style="margin-left: 0.5em;height: 36.4px;">
                  </div>
                </div>
              </div>
              <div class="pure-control-group">
                <label data-tooltip="Shows the current Status type of the task as well as the calculated Importance value, which is used to sort tasks in the Ready view.">Status</label>
                <input type="text" readonly name="status">
              </div>
              <div class="pure-control-group">
                <label>Notes</label>
                <span name="notes" class="textarea" contenteditable
                  style="resize: none;"
                  onpaste="onPasteFormatRemovalHandler(this, event)"></span>
              </div>
              <div class="pure-control-group">
                <label>Created</label>
                <input type="text" readonly name="created">
              </div>
              <div class="pure-control-group recur-show">
                <label data-tooltip="Maximum number of recurring task instances to be maintained at any given time.">Limit</label>
                <input type="number" name="recur-limit" value="3" min="0"
                  max="1024" step="0" />
              </div>
              <div class="pure-control-group recur-show">
                <label>Recur Info</label>
                <textarea readonly name="recur-info" style="height: 7.5em;font-family: var(--mono-family);"></textarea>
              </div>
              <div class="pure-control-group recur-hide">
                <label>Log</label>
                <textarea readonly name="log" style="height: 7.5em;font-family: var(--mono-family);"></textarea>
              </div>
              <div class="pure-control-group recur-hide">
                <label></label>
                <div>
                  <div style="text-align: right;">
                    <input style="flex-grow: 1;" type="button" value="Cancel" name="edit-log-cancel" class="pure-button">
                    <input style="flex-grow: 1;" type="button" value="Edit & Recalc timelog" name="edit-log" class="pure-button">
                  </div>
                  <pre class="edit-log-errors"></pre>
                </div>
              </div>
              <div class="pure-control-group">
                <label></label>
                <div>
                  <input type="button" value="Delete Task Permanently"
                    name="delete" class="pure-button" onclick="ui_detail_delete()">
                </div>
              </div>
              <br>
              <!-- TODO: total time & log -->
            </form-body>
          </form>
        </div>
      </div>
      <div class="gantt" oncontextmenu="return false;">
        <header>
          <div class="actions pad">
            <button class="pure-button"
              onclick="GANTT_QUERY = JSON.parse(JSON.stringify(GANTT_DEFAULT_QUERY));ui_gantt_render()">
              Reset
            </button>
            <button class="pure-button" onclick="ui_gantt_scroll_to_today()">
              Today
            </button>
            <button class="pure-button show-dependencies" onclick="ui_gantt_show_dependencies()">
              Show Dependencies
            </button>
            <button class="pure-button hide-dependencies" onclick="ui_gantt_hide_dependencies()" style="display: none;">
              Hide Dependencies
            </button>
            <button class="pure-button" onclick="ui_filter_open(GANTT_QUERY, ui_gantt_render)">
              Filter <i class="fa fa-filter"></i>
            </button>
            <div class="filters-holder"></div>
          </div>
        </header>
        <gantt-container>
          <!-- programatically scrolled -->
          <gantt-header></gantt-header>
          <gantt-graph></gantt-graph>
        </gantt-container>
      </div>
      <div class="log" oncontextmenu="return false;">
        <header>
          <div class="actions pad">
            <button class="pure-button"
              onclick="LOG_QUERY = JSON.parse(JSON.stringify(LOG_DEFAULT_QUERY));ui_log_render()">
              Reset
            </button>
            <button class="pure-button" onclick="ui_filter_open(LOG_QUERY, ui_log_render)">
              Filter <i class="fa fa-filter"></i>
            </button>
            <div class="filters-holder"></div>
          </div>
        </header>
        <grid>
          <div>
            <cal class="info-card">
              <div class="info-action">
                <i class="fa fa-chevron-left"></i>
                <div class="title"></div>
                <i class="fa fa-chevron-right"></i>
              </div>
              <header class="stats">
                <stat style="min-width: 33.3333%;">
                  <strong>NUM</strong>
                  <num name="num"></num>
                </stat>
                <stat style="min-width: 33.3333%;">
                  <strong>SUM</strong>
                  <num name="sum"></num>
                </stat>
                <stat style="min-width: 33.3333%;">
                  <strong>AVG</strong>
                  <num name="avg"></num>
                </stat>
              </header>
              <div class="content days-header"></div>
              <div class="backdrop-scroll">
                <div class="content backdrop-container"></div>
              </div>
            </cal>
          </div>
          <div>
            <daily class="info-card">
              <div class="info-action">
                <i class="fa fa-chevron-left"></i>
                <div class="title"></div>
                <i class="fa fa-chevron-right"></i>
              </div>
              <header class="stats">
                <stat style="min-width: 33.3333%;">
                  <strong>NUM</strong>
                  <num name="num">3.2hr</num>
                </stat>
                <stat style="min-width: 33.3333%;">
                  <strong>SUM</strong>
                  <num name="sum">3.2hr</num>
                </stat>
                <stat style="min-width: 33.3333%;">
                  <strong>AVG</strong>
                  <num name="avg">3.2hr</num>
                </stat>
              </header>
              <div class="content"></div>
            </daily>
          </div>
        </grid>
      </div>
      <div class="metrics" oncontextmenu="return false;">
        <header>
          <div class="actions pad">
            <button class="pure-button"
              onclick="METRICS_QUERY = JSON.parse(JSON.stringify(METRICS_TODAY_QUERY));$('#metrics-graph-interval').val('[0, 0, 1]');ui_metrics_render()">
              Day
            </button>
            <button class="pure-button"
              onclick="METRICS_QUERY = JSON.parse(JSON.stringify(METRICS_WEEK_QUERY));$('#metrics-graph-interval').val('[0, 0, 1]');ui_metrics_render()">
              Week
            </button>
            <button class="pure-button"
              onclick="METRICS_QUERY = JSON.parse(JSON.stringify(METRICS_MONTH_QUERY));$('#metrics-graph-interval').val('[0, 0, 7]');ui_metrics_render()">
              Month
            </button>
            <button class="pure-button"
              onclick="METRICS_QUERY = JSON.parse(JSON.stringify(METRICS_YEAR_QUERY));$('#metrics-graph-interval').val('[0, 1, 0]');ui_metrics_render()">
              Year
            </button>
            <button class="pure-button" onclick="ui_filter_open(METRICS_QUERY, ui_metrics_render)">
              Filter <i class="fa fa-filter"></i>
            </button>
            <div class="filters-holder"></div>
          </div>
        </header>
        <div>
          <cal class="info-card">
            <div class="info-action">
              <i class="fa fa-chevron-left"></i>
              <div class="title"></div>
              <i class="fa fa-chevron-right"></i>
            </div>
            <div class="profile-con pure-g">
              <div class="pure-u-1-1 pure-u-lg-1-3">
                <div class="profile">
                  <profile-pic></profile-pic>
                  <h2></h2>
                  <br>
                  <h3>Period Rating: <span class="rating"></span></h3>
                  <h3>
                    <span class="help-tooltip" onclick="MicroModal.show('modal-metrics-comp-faq')">
                      Skill Group
                    </span> :
                    <span class="skill"></span>
                    <button class="pure-button recalibrate" onclick="_ui_metrics_comp_recalibrate()">
                      Recalibrate
                    </button>
                  </h3>
                </div>
              </div>
              <div class="pure-u-1-1 pure-u-lg-1-3 stat-list"></div>
              <div class="pure-u-1-1 pure-u-lg-1-3"></div>
            </div>
            <div class="graph-actions pure-form">
              <label for="metrics-select-series"><strong>Data Series:</strong></label>
              <select id="metrics-select-series"></select>
              <label for="metrics-graph-interval"><strong>Graph Interval:</strong></label>
              <input id="metrics-graph-interval" style="display: inline;" value="[0, 0, 1]">
              <span>[Y, M, D]</span>
            </div>
            <div class="graph-container" id="metrics-graph-container"></div>
            <div class="content pure-g stats"></div>
          </cal>
        </div>
      </div>
      <div class="forecast" oncontextmenu="return false;">
        <header>
          <div class="actions pad">
            <button class="pure-button"
              onclick="FORECAST_QUERY = JSON.parse(JSON.stringify(FORECAST_DEFAULT_QUERY));ui_forecast_render()">
              Reset
            </button>
            <button class="pure-button" onclick="ui_filter_open(FORECAST_QUERY, ui_forecast_render)">
              Filter <i class="fa fa-filter"></i>
            </button>
            <div class="filters-holder"></div>
          </div>
        </header>
        <div class="forecast-container">

        </div>
      </div>
      <div class="settings pad" oncontextmenu="return false;">
        <div class="pad">
          <h4>Export</h4>
          <a class="pure-button" href="storage/data">
            Data take out (JSON)
          </a>
        </div>
        <div class="pad">
          <button class="pure-button"
            onclick="ui_settings_export_ledg()">
            Export as `ledg` timeclock files (1970-2100)
          </button>
          <span><a href="https://github.com/SitanHuang/ledg" target="_blank">Learn more about ledg here</a></span>
        </div>
        <div class="pad">
          <h4>User</h4>
          <form class="pure-form pure-form-aligned user-form pad" style="max-width: 600px;">
            <fieldset>
              <div class="pure-control-group">
                <label for="app-primary-color">Primary color</label>
                <input type="color" readonly name="app-primary-color"/>
                <span class="pure-form-message-inline proMode-hide">Synced across all devices.</span>
              </div>
              <div class="pure-control-group">
                <label></label>
                <button class="pure-button" type="button" onclick="ui_menu_settings_reset_primaryColor()">
                  Reset to Default
                </button>
              </div>
              <div class="pure-control-group">
                <label for="app-theme">Theme</label>
                <select name="app-theme" onchange="_theme_settings_onchange(this);">
                  <option value="default">Default</option>
                  <option value="default-dark">Default (Dark)</option>
                  <option value="solarized">Solarized Light</option>
                  <option value="solarized-dark">Solarized Dark</option>
                  <option value="pink">Pink</option>
                  <option value="pink-dark">Pink (Dark)</option>
                  <option value="nord">Nord</option>
                  <option value="nord-dark">Nord (Dark)</option>
                </select>
              </div>
              <div class="pure-control-group">
                <label style="vertical-align: top;">Auto Dark Mode</label>
                <div class="stacked-checkboxes">
                  <label for="filter-checkbox-use_sys" class="pure-checkbox">
                    <input type="checkbox" id="filter-checkbox-use_sys" onchange="_theme_settings_onchange(this);">
                    Follow system settings
                  </label>
                  <label for="filter-checkbox-use_66" class="pure-checkbox">
                    <input type="checkbox" id="filter-checkbox-use_66" onchange="_theme_settings_onchange(this);">
                    Follow 6am/6pm schedule
                  </label>
                </div>
                <span class="pure-form-message-inline proMode-hide">This device only.</span><br>
              </div>
              <div class="pure-control-group">
                <label for="app-projects-sort" style="vertical-align:
                top;">Projects</label>
                <select name="app-projects-sort" onchange=";">
                  <option value="time">Sort by last used date</option>
                  <option value="alpha">Sort alphabetically</option>
                </select>
                <span class="pure-form-message-inline proMode-hide">Synced across all devices.</span>
              </div>
              <div class="pure-control-group">
                <label for="app-pro-mode" style="vertical-align: top;">Pro mode</label>
                <div class="stacked-checkboxes">
                  <label for="app-pro-mode" class="pure-checkbox">
                    <input type="checkbox" id="app-pro-mode">
                    Hide all UI tooltips and hints
                  </label>
                </div>
                <span class="pure-form-message-inline proMode-hide">Synced across all devices.</span>
              </div>
              <div class="pure-control-group">
                <label for="app-pomotick" style="vertical-align: top;">PomoTick</label>
                <div class="stacked-checkboxes">
                  <label for="app-pomotick" class="pure-checkbox">
                    <input type="checkbox" id="app-pomotick">
                    Use PomoTick units.
                  </label>
                </div>
                <span class="pure-form-message-inline proMode-hide">
                  In all UI elements where durations are displayed, use the
                  Pomodoro timer duration as a unit of measurement.
                </span>
              </div>
              <div class="pure-control-group">
              </div>
              <div class="pure-control-group">
                <label for="app-pomodoro-time">Pomodoro Time</label>
                <input type="number" min="5" max="120" step="1" value="25" name="app-pomodoro-time"/>
                <span class="pure-form-message-inline proMode-hide">Set working minutes for the Pomodoro timer.</span>
              </div>
              <div class="pure-control-group">
              </div>
              <div class="pure-control-group">
                <label for="aligned-name">Username</label>
                <input type="text" readonly name="username"/>
                <span class="pure-form-message-inline proMode-hide">Contact site admin to change login.</span>
              </div>
              <div class="pure-control-group">
                <label for="aligned-name">New Password</label>
                <input type="text" name="new-password" autocomplete="off"
                  style="font-family: var(--mono-family)"/>
              </div>
              <div class="pure-control-group">
                <label for="aligned-name"></label>
                <button class="pure-button" type="button" onclick="ui_menu_passwd()">
                  Change Password
                </button>
              </div>
              <div class="pure-control-group">
                <label for="aligned-email">Storage Level</label>
                <input type="text" readonly name="permission" />
                <span class="pure-form-message-inline proMode-hide">Contact site admin to upgrade.</span>
              </div>
              <div class="pure-control-group">
                <label for="aligned-email">Quota</label>
                <progress name="quota"></progress>
                <span class="pure-form-message-inline" name="quota"></span>
              </div>
            </fieldset>
          </form>
        </div>
        <div class="pad">
          <h4>User Stylesheets</h4>
          <form class="pure-form pure-form-aligned user-form pad" style="max-width: 1024px;">
            <span class="pure-form-message-inline proMode-hide">Synced across all devices.</span>
            <br>
            <textarea name="user-stylesheet" style="display: block;width: min(100%, 1024px);min-height: 15em; font-family: var(--mono-family);"></textarea>
            <br>
            <label for="aligned-email">Low priority upper threshold:</label>
            <input type="number" min="0" max="100" step="1" name="low-priority-thre" />
            <br>
            <br>
            <label for="aligned-email">High priority lower threshold:</label>
            <input type="number" min="0" max="100" step="1" name="high-priority-thre" />
            <br>
            <br>
            <label for="aligned-email">Low weight upper threshold:</label>
            <input type="number" min="0" max="100" step="1" name="low-weight-thre" />
            <br>
            <br>
            <label for="aligned-email">High weight lower threshold:</label>
            <input type="number" min="0" max="100" step="1" name="high-weight-thre" />
            <br>
            <br>
            <label for="aligned-email">Low importance upper threshold:</label>
            <input type="number" min="0" max="100" step="0.1" name="low-importance-thre" />
            <br>
            <br>
            <label for="aligned-email">High importance lower threshold:</label>
            <input type="number" min="0" max="100" step="0.1" name="high-importance-thre" />
            <br>
            <br>
            <label for="aligned-email">Very high importance lower threshold:</label>
            <input type="number" min="0" max="100" step="0.1" name="very-high-importance-thre" />
            <br>
            <button class="pure-button" type="button" onclick="ui_menu_settings_reset_stylesheet()">
              Reset to Default
            </button>
          </form>
        </div>
        <div class="pad">
          <h4>Clean up</h4>
          <button class="pure-button"
            type="button"
            onclick="ui_menu_recalc_all()">
            Recalculate task durations
          </button>
          <button class="pure-button"
            type="button"
            onclick="ui_menu_cleanup_periods()">
            Remove logs with short durations
          </button>
        </div>
      </div>

      <div class="import pad" oncontextmenu="return false;">
        <div class="pad">
          <h3>Batch Import Tasks</h3>
          <h4>Instructions</h4>
          <ol>
            <li><a href="assets/template.xlsx" target="_blank">Download this Excel template</a></li>
            <li>Fill out the spreadsheet with your task information. <b>Make sure to use the EXACT formats (ex. MM/DD/YYYY) specified by the example tasks.</b></li>
            <li>Once you are satisfied, select and copy all cells (Ctrl-A, Ctrl-C).</li>
            <li>
              Paste (Ctrl-V) into the text box below:<br>
              <textarea class="import-data font-mono" style="display: block;width: min(100%, 1024px);min-height: 5em;"></textarea>
              <br>
              <button class="pure-button"
                type="button"
                onclick="ui_import_tsv()">
                Import
              </button>
            </li>
          </ol>
        </div>
      </div>

      <div class="cookbook pad" oncontextmenu="return false;">
        <div class="pad content center-content"></div>
      </div>
    </div>

    <div class="bottom-bar" oncontextmenu="return false">
      <div class="left" id="status-bar"></div>
      <div class="right" id="quota-status"></div>
      <i class="fas" id="sync-status"></i>
    </div>

    <!-- Modal: Create new project on add in home page -->
    <div class="modal micromodal-slide" id="modal-home-new-proj">
      <div class="modal__overlay" tabindex="-1">
        <div class="modal__container" role="dialog">
          <form autocomplete="off" onsubmit="return false;" class="pure-form pure-form-stacked">
            <header class="modal__header">
              <h2 class="modal__title new-proj">
                New project
              </h2>
              <h2 class="modal__title update-proj">
                Update project
              </h2>
              <button class="modal__close" data-micromodal-close></button>
            </header>
            <main class="modal__content" id="modal-home-new-proj-content">
              <div class="pure-g">
                <div class="pure-u-1 pure-u-md-2-3 update-proj">
                  <label for="multi-first-name">Old Name</label>
                  <input readonly tabindex="-1" type="text" name="old-name" class="pure-u-23-24"/>
                </div>
                <div class="pure-u-1 pure-u-md-1-3 update-proj">
                  <label for="multi-first-name">&nbsp;</label>
                  <label for="update-project-hidden-checkbox" class="pure-checkbox" style="text-align: left;">
                    <input type="checkbox" name="hidden" id="update-project-hidden-checkbox"> Hidden
                  </label>
                </div>
                <div class="pure-u-1 pure-u-md-2-3">
                  <label for="multi-first-name" class="new-proj">Name</label>
                  <label for="multi-first-name" class="update-proj">New Name</label>
                  <input required type="text" name="name" class="pure-u-23-24" placeholder="ex: 'school.math.hw', 'personal.chores', 'fun.badminton'"/>
                </div>
                <div class="pure-u-1 pure-u-md-1-3">
                  <label for="multi-first-name">Color</label>
                  <input type="color" name="color" class="pure-u-23-24" style="padding: 0;"/>
                </div>
              </div>
              <div class="pure-g colors-container"></div>
              <div class="pure-g update-proj proMode-hide">
                <div class="pure-u-1">
                  <p> Note: This will move all tasks from project Old Name to project New Name. Project Old Name is then deleted (if the names are different). It is possible to have New Name be empty (no project) or an existing project. If you want to delete an existing project, rename the project to empty.</p>
                </div>
              </div>
            </main>
            <footer class="modal__footer" style="text-align: right;">
              <button type="clear" class="modal__btn" data-micromodal-close>Cancel</button>
              <button type="submit" class="modal__btn modal__btn-primary new-proj">Add</button>
              <button type="submit" class="modal__btn modal__btn-primary update-proj">Rename/Update</button>
            </footer>
          </form>
        </div>
      </div>
    </div>
    <!-- Modal: Filter -->
    <div class="modal micromodal-slide" id="modal-filter">
      <div class="modal__overlay" tabindex="-1">
        <div class="modal__container" role="dialog">
          <form onsubmit="return false;" autocomplete="off" class="pure-form pure-form-aligned">
            <header class="modal__header">
              <h2 class="modal__title" id="modal-filter-title">
                Set Filter
              </h2>
              <button class="modal__close" data-micromodal-close></button>
            </header>
            <main class="modal__content" id="modal-filter-content">
              <div class="pure-control-group">
                <label>Project</label>
                <input type="text" name="project">
                <span class="pure-form-message-inline proMode-hide">
                  "none" for tasks without project; pattern match available, ex: "school..hw", "school.*", "(school*|personal*)"; add "\v" prefix for regex mode
                </span>
              </div>
              <div class="pure-control-group">
                <label>Name</label>
                <input type="text" name="name">
                <span class="pure-form-message-inline proMode-hide">
                  queries everything if empty; searches names containing specified text; add "\v" prefix for regex mode
                </span>
              </div>
              <div class="pure-control-group">
                <label>Selected Projects</label>
                <input type="text" name="projects" readonly>
                <span class="pure-form-message-inline proMode-hide">
                  to change, reset filter
                </span>
              </div>
              <div class="pure-control-group">
                <label style="vertical-align: top;">Status</label>
                <div class="stacked-checkboxes">
                  <label for="filter-checkbox-default" class="pure-checkbox">
                    <input type="checkbox" id="filter-checkbox-default">
                    Default
                  </label>
                  <label for="filter-checkbox-start" class="pure-checkbox">
                    <input type="checkbox" id="filter-checkbox-start">
                    Started
                  </label>
                  <label for="filter-checkbox-completed" class="pure-checkbox">
                    <input type="checkbox" id="filter-checkbox-completed">
                    Completed
                  </label>
                  <label for="filter-checkbox-recur" class="pure-checkbox">
                    <input type="checkbox" id="filter-checkbox-recur">
                    Recur templates
                  </label>
                  <label for="filter-checkbox-snoozed" class="pure-checkbox">
                    <input type="checkbox" id="filter-checkbox-snoozed">
                    Snoozed
                  </label>
                </div>
              </div>
              <div class="pure-control-group">
                <label style="vertical-align: top;">Modifiers</label>
                <div class="stacked-checkboxes">
                  <label for="filter-checkbox-ready" class="pure-checkbox">
                    <input type="checkbox" id="filter-checkbox-ready">
                    Ready (Excludes not-ready tasks)
                  </label>
                  <label for="filter-checkbox-weight" class="pure-checkbox">
                    <input type="checkbox" id="filter-checkbox-weight">
                    Actionable (Excludes weightless tasks)
                  </label>
                </div>
                <span class="pure-form-message-inline proMode-hide">
                  queries everything if no status/modifiers are selected
                </span>
              </div>
              <div class="pure-control-group">
                <label>Visibility</label>
                <select name="visibility">
                  <option value=""></option>
                  <option value="hidden">Only Hidden</option>
                  <option value="visible">Only Visible</option>
                </select>
              </div>
              <div class="pure-control-group">
                <label>Due</label>
                <select name="due">
                  <option value="null"></option>
                  <option value="true">Only with due date</option>
                  <option value="false">Only without due date</option>
                </select>
              </div>
              <div class="pure-control-group">
                <label>From</label>
                <input type="date" name="from">
                <span class="pure-form-message-inline proMode-hide">
                  min(min(created, earliest || created), END)
                </span>
              </div>
              <div class="pure-control-group">
                <label>To</label>
                <input type="date" name="to">
                <span class="pure-form-message-inline proMode-hide">
                  max(max(now, due || until), START)
                </span>
              </div>
            </main>
            <footer class="modal__footer" style="text-align: right;">
              <button type="clear" class="modal__btn" data-micromodal-close>Cancel</button>
              <button type="submit" class="modal__btn modal__btn-primary">Apply</button>
              <button type="button" onclick="ui_filter_save()" class="modal__btn modal__btn-primary">
                <b>Save</b>
              </button>
            </footer>
          </form>
        </div>
      </div>
    </div>
    <!-- Modal: Skill Group FAQ -->
    <div class="modal micromodal-slide" id="modal-metrics-comp-faq">
      <div class="modal__overlay" tabindex="-1">
        <div class="modal__container" role="dialog">
          <form autocomplete="off" onsubmit="" class="pure-form pure-form-stacked">
            <header class="modal__header">
              <h2 class="modal__title" id="modal-home-new-proj-title">
                Skill Group
              </h2>
              <button class="modal__close" data-micromodal-close></button>
            </header>
            <main class="modal__content">
              <p>
                Skill Group is determined by comparing your performance metrics
                from the past few weeks to a distribution curve. Metrics
                collected during periods that are more recent and/or more
                intensive will receive greater weight.
              </p>
              <p>
                Your Skill Group can only be recalibrated once every week. The
                "Recalibrate" button will appear when available. Keep in mind
                that your latest performance may not be reflected until the
                following Monday.
              </p>
              <p>
                Skill Groups:
                <ul>
                  <li>Novice I</li>
                  <li>Novice II</li>
                  <li>Novice III</li>
                  <li>Novice IV</li>
                  <li>Organizer I</li>
                  <li>Organizer II</li>
                  <li>Organizer Elite</li>
                  <li>Specialist I</li>
                  <li>Specialist II</li>
                  <li>Specialist Elite</li>
                  <li>Expert Tasker I</li>
                  <li>Expert Tasker II</li>
                  <li>Expert Tasker III</li>
                  <li>Elite Strategist I</li>
                  <li>Elite Strategist II</li>
                  <li>Elite Strategist III</li>
                  <li>Task Champion</li>
                  <li>Task Legend</li>
                  <li>Task Paragon</li>
                </ul>
              </p>
            </main>
            <footer class="modal__footer" style="text-align: right;">
              <button type="clear" class="modal__btn" data-micromodal-close>Close</button>
            </footer>
          </form>
        </div>
      </div>
    </div>
    <!-- Modal: Home mode -->
    <div class="modal micromodal-slide" id="modal-home-mode">
      <div class="modal__overlay" tabindex="-1">
        <div class="modal__container" role="dialog">
          <form autocomplete="off" onsubmit="ui_home_add_project_callback(this);return false;" class="pure-form pure-form-stacked">
            <header class="modal__header">
              <h2 class="modal__title" id="modal-home-mode-title">

              </h2>
              <button class="modal__close" data-micromodal-close></button>
            </header>
            <main class="modal__content" id="modal-home-mode-content">
              <div class="pure-menu pure-menu-scrollable custom-restricted">
                <ul class="pure-menu-list">
                  <li class="pure-menu-item"
                    onclick="ui_home_mode_select_trigger('default', HOME_DEFAULT_QUERY)">
                    <a href="#" class="pure-menu-link">Default</a>
                  </li>
                  <li class="pure-menu-item"
                    onclick="ui_home_mode_select_trigger('ready', HOME_READY_QUERY)">
                    <a href="#" class="pure-menu-link">Ready</a>
                  </li>
                  <li class="pure-menu-item"
                    onclick="ui_home_mode_select_trigger('actionable', HOME_ACTIONABLE_QUERY)">
                    <a href="#" class="pure-menu-link">Ready and Actionable</a>
                  </li>
                  <li class="pure-menu-item"
                    onclick="ui_home_mode_select_trigger('snoozed', HOME_SNOOZED_QUERY)">
                    <a href="#" class="pure-menu-link">Snoozed Only</a>
                  </li>
                  <li class="pure-menu-item"
                    onclick="ui_home_mode_select_trigger('recur', HOME_RECUR_QUERY)">
                    <a href="#" class="pure-menu-link">Recur templates</a>
                  </li>
                  <li class="pure-menu-item"
                    onclick="ui_home_mode_select_trigger('all', HOME_ALL_QUERY)">
                    <a href="#" class="pure-menu-link">All</a>
                  </li>
                  <li class="pure-menu-item"
                    onclick="ui_home_mode_select_trigger('completed', HOME_COMPLETED_QUERY)">
                    <a href="#" class="pure-menu-link">Completed</a>
                  </li>
                  <li class="pure-menu-item"
                    onclick="ui_home_mode_select_trigger('hidden', HOME_HIDDEN_QUERY)">
                    <a href="#" class="pure-menu-link">Hidden</a>
                  </li>
                </ul>
              </div>
            </main>
          </form>
        </div>
      </div>
    </div>

    <!-- Modal: Dialog (Top-level as always) -->
    <div class="modal micromodal-slide" id="modal-ui-dialog">
      <div class="modal__overlay" tabindex="-1">
        <div class="modal__container" role="dialog">
          <main class="modal__content text"></main>
          <main class="modal__content input pure-form">
            <input type="text" autocomplete="off" class="pure-input-1">
          </main>
          <footer class="modal__footer" style="text-align: right;">
            <button type="button" class="modal__btn modal__close cancel" data-micromodal-close>Cancel</button>
            <button type="button" class="modal__btn modal__btn-primary">OK</button>
          </footer>
        </div>
      </div>
    </div>

    <div id="timer-container" oncontextmenu="return false;" style="display: none;">
      <i class="unhide fa-solid fa-arrow-down" onclick="timer_unhide()"></i>
      <name></name>
      <timer></timer>
      <timer class="pomodoro"></timer>
      <div class="pomodoro-progress">
        <div class="bar">&nbsp;</div>
      </div>
      <stop>
        <i class="fa fa-stop-circle"
           onclick="timer_stop_task(back.data.tasks[back.data.started]);"></i>
        <i class="fa fa-stopwatch pomodoro-btn"
           onclick="timer_pomodoro(this);"></i>
        <i class="fa fa-circle-down" style="transform: rotate(-135deg);"
           onclick="timer_hide();"></i>
      </stop>
    </div>

    <div id="rank-up-overlay" class="hidden">
      <div class="rank-container">
        <div id="old-rank" class="rank"></div>
        <div class="arrow">
          &#8594;
          <span class="delta"></span>
        </div>
        <div class="masked-rank">
          <div id="new-rank" class="rank"></div>
          <div id="rank-mask"></div>
        </div>
      </div>
    </div>

    <style id="app-user-stylesheets"></style>

    <script src="libs/external/jquery-3.6.0.min.js?releaseDate=20230914R2"></script>
    <script src="libs/external/randomColor.min.js?releaseDate=20230914R2"></script>
    <script src="libs/external/micromodal.min.js?releaseDate=20230914R2"></script>
    <script src="libs/external/zip-no-worker-deflate.min.js?releaseDate=20230914R2"></script>
    <script src="libs/external/d3.v4.js?releaseDate=20230914R2"></script>
    <script src="libs/external/d3_timeseries.min.js?releaseDate=20230914R2"></script>
    <script src="libs/external/dice.js?releaseDate=20240221R2"></script>
    <script src="libs/external/autoComplete.min.js?releaseDate=20240221"></script>

    <script src="libs/commons.js?releaseDate=20240224R6"></script>

    <script src="libs/data.js?releaseDate=20230914R2"></script>
    <script src="libs/task.js?releaseDate=20240608"></script>
    <script src="libs/recur.js?releaseDate=20240224R6"></script>
    <script src="libs/project.js?releaseDate=20240221R2"></script>
    <script src="libs/backend.js?releaseDate=20240221R2"></script>
    <script src="libs/competitive.js?releaseDate=20231004"></script>

    <script src="libs/fuzzy.js?releaseDate=20230930"></script>
    <script src="libs/query.js?releaseDate=20240224R6"></script>

    <script src="libs/ui/dialog.js?releaseDate=20240211"></script>
    <script src="libs/ui/filter.js?releaseDate=20240224R3"></script>

    <script src="libs/ui/views/home.js?releaseDate=20240608"></script>
    <script src="libs/ui/views/details.js?releaseDate=20240314"></script>
    <script src="libs/ui/views/gantt.js?releaseDate=20240224R6"></script>
    <script src="libs/ui/views/log.js?releaseDate=20230925"></script>
    <script src="libs/ui/views/settings.js?releaseDate=20240608"></script>
    <script src="libs/ui/views/forecast.js?releaseDate=20240224R6"></script>
    <script src="libs/ui/views/metrics.js?releaseDate=20240224R6"></script>
    <script src="libs/ui/views/import.js?releaseDate=20240211"></script>

    <script src="libs/ui/layout.js?releaseDate=20231004"></script>
    <script src="libs/ui/timer.js?releaseDate=20240210R1"></script>
    <script src="libs/ui/themes/loader.js?releaseDate=20230916"></script>
    <script src="libs/index.js?releaseDate=20240608"></script>

    <!-- lazy loads stylesheets & images -->
    <script src="libs/ui/css.js?releaseDate=20240311"></script>

    <!-- lazy load non-essential stuff-->
    <script src="libs/ui/tooltips.js?releaseDate=20231006"></script>
    <script src="libs/ui/cookbook.js?releaseDate=20240212R1"></script>
  </body>
</html>
