<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= @title%>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content='IE=edge' http-equiv='X-UA-Compatible'>
    <meta content='webkit' name='renderer'>
  </head>
  <body>
    <div class='page'>
      <%= yield%>
    </div>
    <footer>
      
    </footer>
  </body>
</html>

