<div style="margin: 50px auto;width: 600px;border: 1px solid;border-radius: 10px;font-family: 'Roboto Slab' Ariel;">
  <h1 style="color: white;background: #CC0000;padding: 20px;">Welcome to <code>smvc</code></h1>
  <code style="padding: 20px;margin-left: 20px;display: block;line-height: 1.5em;font-family: Monaco;">
  <pre>
  Find me in controllers/IndexController.rb
  index_path(): <%= index_path%>
  url_for('/'): <%= url_for '/'%>
  </pre>
  </code>
</div>
